/* 
    Document   : stylesheet
    Created on : 12/01/2010, 04:33:39 PM
    Author     : esmata
    Description:
        CSS to customize the gui of this application
*/


body {
	height: 100%;
	width:100%;
	margin: 0 0 0 0;

}

/* Style for the language links */
#lang {
	width: 100%;
	height:18px;
	z-index:auto;
	padding: 15px 0px;
	background-color:#043780;
	vertical-align: middle;

}


/* Banner title */
#title {
	font-family:arial, helvetica, sans-serif;
	font-size: 32px;
	font-weight:bold;
	color: white;
	float: right;
	vertical-align: middle;
    padding-right: 25px;
}

/* Banner style */
#banner {
	height: 136px;
	background-image: url(images/bannerGis.jpg);
	background-repeat: no-repeat;
	border: 1px;

}
#banner-contenedor {
	height:136px;
	width:100%;
    background-color: #443615;
	background-position: 0;
}

#spacer {
    height: 3px;
    width: 100%;
	background-color: #043780;
}

/*____________________________________________________________________________*/

/* Para divs contenido  Leila */



.titulo-principal{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	color: #C00;
	vertical-align: top;
	font-weight: bold;
	text-align: center;
}


.texto-principal{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #C00;
	vertical-align: top;
	text-align: left;
}

/* tabla contenidos */

.tabla-contenido {
	background-color: #039;
}

.celda01 input{
    width: 90%;
}

.celda01 {
	background-color: #e3fcbc;
	padding: 1px;
	vertical-align: middle;

}

.celda02 {
	background-color: #BADD58;
	padding: 10px;
	vertical-align: middle;
	text-align:center;
}

.link-celda02 {
	background-color: #6ca513;
	padding: 2px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	vertical-align:middle;
}


a.link-celda02:link {
	color: #ffffff;
}

a.link-celda02:hover {
	color: #F90;
	text-decoration: underline;
}

a.link-celda02:visited {
	color: #03C;
	text-decoration: underline;
	text-align: center;
}

/*____________________________________________________________________________*/


/* Para los links del menu */
.link{
    padding: 3px 0 0 35px;
    background: url(web/images/tabs.png);
    background-repeat:no-repeat;
    background-position: 10px 3px;
}

.link_back{
    padding: 3px 0 0 35px;
    background: url(web/images/back.png);
    background-repeat:no-repeat;
    background-position: 10px 3px;
}

/* Para el link de home modificado Leila */
.link_home{
	background: url(images/home.png);
	background-repeat:no-repeat;
	background-position: 30px 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FC0;
	padding-left: 60px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 5px;
}

/* Para el link de about modificado Leila*/
.link_about{
	background-repeat:no-repeat;
	background-position: 30px 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FC0;
	padding-left: 60px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 5px;
	background-image: url(images/about.png);
}

.link_admin{
	background-repeat:no-repeat;
	background-position: 30px 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FC0;
	padding-left: 60px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 5px;
	background-image: url(images/admin.gif);
}

.link_wiki{
	background-repeat:no-repeat;
	background-position: 30px 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FC0;
	padding-left: 60px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 5px;
	background-image: url(images/wiki.gif);
}

/* Para el link de about modificado Leila*/
.link_help{
	background-repeat:no-repeat;
/*	background-image: url(images/help.png); */
	background-image: url(images/help.gif);
    width: 23px;
    height: 23px;
    float: right;
}

#iabin-logo{
	background-repeat:no-repeat;
	background-image: url(images/logo-iabin.jpg);
	width: 300px;
	height: 85px;
	float: left;
}

#inbio-logo{
	background-repeat:no-repeat;
	background-image: url(images/logo-inbio.png);
	width: 196px;
	height: 70px;
	float: left;
}

#oas-logo{
	background-repeat:no-repeat;
	background-image: url(images/logo-oas.jpg);
	width: 283px;
	height: 277px;
	float: left;
}

#worlbank-logo{
	background-repeat:no-repeat;
	background-image: url(images/logo-worlbank.png);
	width: 181px;
	height: 181px;
	float: left;
}

#gef-logo{
	background-repeat:no-repeat;
	background-image: url(images/logo-gef.gif);
	width: 494px;
	height: 125px;
	float: left;
}

#sponsors {
	height: 350px;
	text-align: left;
}

#licenses {
	text-align: left;
}



.textos {
	font-size:12px;
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
}


.textosnegrita {
	font-size:12px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
}


/*____________________________________________________________________________*/

/* Pie p�gina Leila */


#scale_image {
	background-image: url(images/scale.jpg);
	background-repeat:no-repeat;
	padding-top: 194px;
	padding-right: 0;
	padding-bottom: 0px;
}

.clear {
    clear:both;
}

.buttons{
    float: left;
    width: 100px;

}

#layer_names{
    padding: 5px 3px 5px 3px;
    width:  300px;
    height: 250px;
    float:left;
    background-color:#BADD58;
    text-align:center;
    overflow: auto;
}

.headers_label {
    float:left;
    overflow:hidden;
    display:block;
}

.headers_input {
    float:left;
    display:block;
    text-align: center;
}

.content_div{
    float:left;
    padding: 0px 3px 0px 3px;
    -moz-border-radius: 10px;/*buscar las opciones para otros navegadores*/
}

.content_div_categorys{
    overflow:auto;
    width: 400px;
    height: 250px;
    text-align:left;
}


#login_box{
    padding: 5px 3px 5px 3px;
    background-color:#BADD58;
    text-align:center;
    width:400px;
    margin: auto;
    -moz-border-radius: 10px;/*buscar las opciones para otros navegadores*/
}

#login_box{
    padding: 5px 3px 5px 3px;
    background-color:#BADD58;
    text-align:center;
    width:400px;
    margin: auto;
    -moz-border-radius: 10px;/*buscar las opciones para otros navegadores*/
}

#div-logos{
	float: left;
	margin: auto;
	padding: 50px;
}

.begin-on{
	background-color: #badd58;
	padding: 5px 3px 5px 3px;
	text-align:center;
	width:400px;
	float: right;
	-moz-border-radius: 10px;/*buscar las opciones para otros navegadores*/
	margin-top: 30px;
	margin-right: 50px;
}

.begin-off{
	/*background-color:#e3fcbc;*/
    background-color:#99dd50;
	padding: 5px 3px 5px 3px;
	text-align:center;
	width:400px;
	float: right;
	-moz-border-radius: 10px;/*buscar las opciones para otros navegadores*/
	margin-top: 30px;
	margin-right: 50px;
}


#intro{
	text-align: justify;
	float: right;
	width: 50%;
}

select{
    width: 70%;
}

#layers_content{
}


.button-simple{
    width:120px;
    height:24px;
    background-color: #e3fcbc;
    border:4px thick #003DB8;
    font-family:sans-serif;
    text-align:center;
    font-size:11px;
    color: black;
    cursor:pointer;
    padding:1px;
    margin:2px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.button-up{
   background:url("images/up.png") no-repeat;
    width:120px;
    height:24px;
    background-color: #e3fcbc;
    border:4px thick #003DB8;
    font-family:sans-serif;
    text-align:center;
    font-size:11px;
    color: black;
    cursor:pointer;
    padding:1px;
    margin:2px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.button-down{
   background:url("images/down.png") no-repeat;
    width:120px;
    height:24px;
    background-color: #e3fcbc;
    border:4px thick #003DB8;
    font-family:sans-serif;
    text-align:center;
    font-size:11px;
    color: black;
    cursor:pointer;
    padding:1px;
    margin:2px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.categoryInfo{
    border-right: 1px solid #e3fcbc;
    text-align:left;
    float:left;
    height:490px;
    width:350px;
    overflow:auto;
    margin: 0 10px 0 10px;
}

#results{
    height:490px;
    width:100%;
    margin:0 auto 0 auto;
}


.threat_image_text{
    vertical-align: bottom;
    text-align:  center;
    font-size:11px;
    font-style:italic;
}

.content_div br {
    clear:both;
}

#layerListTable {
    border-style: solid;
    border-width: 1px;
    margin: auto;
}

#layerListTable td {
    border-left-style: solid;
    border-width: 1px;
}

.layerListHeader {
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
}

#footer {
	width: 100%;
	height:12px;
	z-index:auto;
	/*background-color:#FFA652;*/
	background-color:#043780;
	vertical-align: middle;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 4px;
    color: #ffffff;
}

#contenido {
	width:90%;
	height: 450px;
	vertical-align: top;
	text-align: center;
	margin: 5px auto 15px auto;
	padding: 4px;
}

#layerSelection{
	height: 250px;
	margin-right:  -20px;
	overflow: auto;
	text-align: center;
}

.intervals_value{
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.intervals_text{
    width: 250px;
}

/* The map and the location bar */
#map {
    position: relative;
    width: 640px;
    height:480px;
    border: 1px solid silver;
    border-style:solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}


.header-text{
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 0 3px 0 3px;
}

/* Esteban's code */
.queryPanel {
    background-color:#F7FFEF;
    width:260px;
    text-align:left;
    padding:10px 25px 10px 25px;
    margin-bottom:7px;
    border:solid gray 1px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}


.criteria_title{
    font-weight:bold;
    font-style:italic;
    margin:2px;
    text-align:left;
    color:#21374F;
    font-size:15px;
}

.componentSize {
    width:260px;
    text-align:justify;
    height:24px;
}

#treeDiv{
    width:258px;
    max-height:160px;
    overflow:auto;
    border:dashed 1px gray;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

#actions {
    padding: auto;
}

<[if gte IE 5.5]><![if lt IE 7]>
#footer {
top: expression( ( 0 - footer.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
position:absolute;
}
<![endif]><![endif]>
