/* 
    Document   : stylesheet
    Created on : 12/01/2010, 04:33:39 PM
    Author     : esmata
    Description:
        CSS to customize the gui of this application
*/


body {
	height: 100%;
	width:100%;
	margin: 0 0 0 0;

}

/* Style for the language links */
#lang {
	width: 100%;
	height:18px;
	z-index:auto;
	padding-top: 15px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-color:#043780;
	vertical-align: middle;

}


/* Banner title */
#title h1 {
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	font-size: 18px;
	font-weight:bold;
	margin:0;
	width:100%;
	color:white;
	position: absolute;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
	vertical-align: middle;
	top: 8px;
}


/* Banner style */
#banner {
	width:100%;
	height: 80px;
	background-image: url(images/bannerGis.jpg);
	background-repeat: repeat-x;
	background-position: center top;

}
#banner-contenedor {
	height:80px;
	width:100%;
	background-color: #043780;
	background-position: 0;
	background-repeat: repeat-x;
}

/*____________________________________________________________________________*/

/* Para divs contenido  Leila */

#contenido {
	width:100%;
	vertical-align: top;
	background-color: #FFFFDE;
	float: none;
	padding: 4px;

}


.titulo-principal{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #C00;
	vertical-align: top;
	font-weight: bold;
	text-align: center;
}


.texto-principal{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #C00;
	vertical-align: top;
	text-align: left;
}

/* tabla contenidos */

.tabla-contenido {
	background-color: #039;

}

.celda01 {
	background-color: #e3fcbc;
	padding: 1px;
	vertical-align: middle;

}

.celda02 {
	background-color: #BADD58;
	padding: 10px;
	vertical-align: middle;
	text-align:center;
}

.link-celda02 {
	background-color: #6ca513;
	padding: 2px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	vertical-align:middle;
}


a.link-celda02:link {
	color: #ffffff;
}

a.link-celda02:hover {
	color: #F90;
	text-decoration: underline;
}

a.link-celda02:visited {
	color: #03C;
	text-decoration: underline;
	text-align: center;
}

/*____________________________________________________________________________*/


/* Para los links del menu */
.link{
    padding: 3px 0 0 35px;
    background: url(web/images/tabs.png);
    background-repeat:no-repeat;
    background-position: 10px 3px;
}

.link_back{
    padding: 3px 0 0 35px;
    background: url(web/images/back.png);
    background-repeat:no-repeat;
    background-position: 10px 3px;
}

/* Para el link de home modificado Leila */
.link_home{
	background: url(images/home.png);
	background-repeat:no-repeat;
	background-position: 143px 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FC0;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 175px;
}

/* Para el link de about modificado Leila*/
.link_about{
	background-repeat:no-repeat;
	background-position: 30px 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FC0;
	padding-left: 60px;
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 0px;
	background-image: url(images/about.png);
}


.textos {
	font-size:12px;
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
}


.textosnegrita {
	font-size:12px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
}


/*____________________________________________________________________________*/

/* Pie p�gina Leila */

#piepagina {
	width: 100%;
	height:12px;
	z-index:auto;
	background-color:#FFA652;
	vertical-align: middle;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	padding: 4px;
}

#map {
}

#scale {
	background-image: url(images/scale.jpg);
	background-repeat:no-repeat;
	padding-top: 194px;
	padding-right: 0;
	padding-bottom: 0px;
}