<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- The index controller -->
    <bean name="aboutController"
          class="org.springframework.web.servlet.mvc.ParameterizableViewController"
		  p:viewName="about" />

    <!-- The index controller -->
    <bean name="indexController"
          class="org.springframework.web.servlet.mvc.ParameterizableViewController"
          p:viewName="index" />

<!-- main workflow stuff -->

<!-- Form validators -->
<bean id="layerFormValidator" class="org.inbio.modeling.web.form.ListLayerForm" />
<bean id="editIntervalValidator" class="org.inbio.modeling.web.form.EditIntervalForm" />

<!-- Workflow controllers -->
    <bean id="layerController" class="org.inbio.modeling.web.controller.LayerController">
		<property name="commandName" value="layersForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.ListLayerForm" />

		<property name="layerManager" ref="layerManager" />
        <property name="limitController" ref="limitController" />

		<property name="validator" ref="layerFormValidator" />
	</bean>

    <bean id="limitController" class="org.inbio.modeling.web.controller.LimitController">
		<property name="commandName" value="limitForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.ChooseLimitLayerForm" />

        <property name="grassManagerImpl" ref="grassManager" />
        <property name="columnController" ref="columnController" />

	</bean>

	<bean id="columnController" class="org.inbio.modeling.web.controller.ColumnController">
		<property name="commandName" value="columnsForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.ChooseColumnForm" />

        <property name="grassManagerImpl" ref="grassManager" />
        <property name="intervalsController" ref="intervalsController" />
	</bean>

	<bean id="intervalsController" class="org.inbio.modeling.web.controller.IntervalsController" >
		<property name="commandName" value="intervalsForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.EditIntervalForm" />

        <property name="fileManagerImpl" ref="fileManager" />
        <property name="grassManagerImpl" ref="grassManager" />
        <property name="showMapController" ref="showMapController" />

		<property name="validator" ref="editIntervalValidator" />
	</bean>
	<bean id="showMapController" class="org.inbio.modeling.web.controller.ShowMapController" >

        <property name="commandClass" value="org.inbio.modeling.web.form.EditIntervalForm" />
		<property name="commandName" value="intervalsForm" />

        <property name="grassManagerImpl" ref="grassManager" />
		<property name="layerManagerImpl" ref="layerManager" />
        <property name="fileManagerImpl" ref="fileManager" />
        <property name="speciesDistributionControllerImpl" ref="speciesDistributionController" />

		<property name="validator" ref="editIntervalValidator" />
	</bean>

	<bean id="speciesDistributionController" class="org.inbio.modeling.web.controller.SpeciesDistributionController" >

		<property name="commandName" value="chooseSpeciesMapForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.ChooseLimitLayerForm" />

		<property name="layerManager" ref="layerManager" />
        <property name="grassManagerImpl" ref="grassManager" />
        <property name="showMapController" ref="showMapController" />

	</bean>


<!-- administrative stuff -->
	<bean id="administrationController" class="org.inbio.modeling.web.controller.AdministrationController" >
		<property name="commandName" value="intervalsForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.ListLayerForm" />
	</bean>

    <bean id="loginController"
          class="org.springframework.web.servlet.mvc.ParameterizableViewController"
          p:viewName="admin/login" />

    <bean id="accessDeniedController"
          class="org.springframework.web.servlet.mvc.ParameterizableViewController"
          p:viewName="admin/access" />

    <bean id="newUserController" class="org.inbio.modeling.web.controller.NewUserController">
        <property name="userManager" ref="userManager" />
		<property name="commandName" value="userForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.UserForm" />
	</bean>
    <bean id="editUserController" class="org.inbio.modeling.web.controller.EditUserController">
        <property name="userManager" ref="userManager" />
		<property name="commandName" value="userForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.UserForm" />
	</bean>
    <bean id="listUserController" class="org.inbio.modeling.web.controller.ListUserController">
        <property name="userManager" ref="userManager" />
		<property name="commandName" value="userForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.UserForm" />
	</bean>
    <bean id="updateUserInfoController" class="org.inbio.modeling.web.controller.UpdateUserInfoController">
        <property name="userManager" ref="userManager" />
		<property name="commandName" value="userForm" />
        <property name="commandClass" value="org.inbio.modeling.web.form.UserForm" />
	</bean>

    <bean id="newLayerController" class="org.inbio.modeling.web.controller.NewLayerController">
        <property name="layerManager" ref="layerManager" />
		<property name="commandName" value="layerForm" />
        <property name="commandClass" value="org.inbio.modeling.core.dto.LayerDTO" />
	</bean>
    <bean id="editLayerController" class="org.inbio.modeling.web.controller.EditLayerController">
        <property name="layerManager" ref="layerManager" />
		<property name="commandName" value="layerForm" />
        <property name="commandClass" value="org.inbio.modeling.core.dto.LayerDTO" />
	</bean>
    <bean id="listLayerController" class="org.inbio.modeling.web.controller.ListLayerController">
        <property name="layerManager" ref="layerManager" />
		<property name="commandName" value="layerForm" />
        <property name="commandClass" value="org.inbio.modeling.core.dto.LayerDTO" />
	</bean>
    <bean id="updateLayerInfoController" class="org.inbio.modeling.web.controller.UpdateLayerInfoController">
        <property name="layerManager" ref="layerManager" />
		<property name="commandName" value="layerForm" />
        <property name="commandClass" value="org.inbio.modeling.core.dto.LayerDTO" />
	</bean>
</beans>
