<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- The index controller -->
    <bean name="aboutController"
          class="org.springframework.web.servlet.mvc.ParameterizableViewController"
		  p:viewName="common/about" />

    <!-- The index controller -->
    <bean name="indexController"
          class="org.springframework.web.servlet.mvc.ParameterizableViewController"
          p:viewName="index" />

    <bean id="layerController" class="org.inbio.modeling.web.controller.LayerController">
        <property name="layerManager" ref="layerManager" />
	</bean>

    <bean name="intervalsController"
          class="org.inbio.modeling.web.controller.IntervalsController"
		  p:commandName="layersForm"
		  p:commandClass="org.inbio.modeling.web.forms.LayersForm"/>

</beans>
