<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="layerManager" class="org.inbio.modeling.core.manager.impl.LayerManagerImpl">
        <property name="fileManagerImpl" ref="fileManager" />
        <property name="layerDAOImpl" ref="layerDAO" />
	</bean>

    <bean id="grassManager" class="org.inbio.modeling.core.manager.impl.GrassManagerImpl">
        <property name="grassDAOImpl" ref="grassDAO" />
	</bean>
    <bean id="fileManager" class="org.inbio.modeling.core.manager.impl.FileManagerImpl">
        <property name="tempHome" value="${rules.dir}" />
        <property name="fileName" value="${rules.prefix}" />
        <property name="fileExtension" value="${rules.suffix}" />
		<property name="layerHome" value="${layers.home}" />
	</bean>

    <bean id="ExportManager" class="org.inbio.modeling.core.manager.impl.ExportManagerImpl">
        <property name="tempDir" value="${temp.dir}" />
        <property name="mapsHome" value="${maps.home}" />
	</bean>

	<bean id="userManager" class="org.inbio.modeling.core.manager.impl.UserDetailsManagerImpl" >
		<property name="systemUserDAO" ref="systemUserDAO"/>
	</bean>

<!-- mata's -->

    <!--bean id="analysisManager" class="org.inbio.modeling.core.manager.impl.AnalysisManagerImpl">
        <property name="speciesDAO" ref="speciesDAO"/>
        <property name="specimenDAO" ref="specimenDAO"/>
    </bean>
    <bean id="sysUserManagerImpl" class="org.inbio.modeling.core.manager.impl.SysUserManagerImpl">
        <property name="systemUserDAO" ref="systemUserDAO"/>
    </bean-->
    <bean id="taxonomyManager" class="org.inbio.modeling.core.manager.impl.TaxonomyManagerImpl">
        <property name="specimenDAO" ref="specimenDAO"/>
    </bean>
    <!--bean id="indicatorsManager" class="org.inbio.modeling.core.manager.impl.IndicatorsManagerImpl">
        <property name="indicatorDAO" ref="indicatorDAO"/>
    </bean-->
    <bean id="queryManager" class="org.inbio.modeling.core.manager.impl.QueryManagerImpl">
        <property name="taxonInfoIndexDAO" ref="taxonInfoIndexDAO"/>
        <property name="taxonIndexDAO" ref="taxonIndexDAO"/>
    </bean>
    <bean id="pointsManager" class="org.inbio.modeling.core.manager.impl.PointsManagerImpl">
        <property name="taxonInfoIndexDAO" ref="taxonInfoIndexDAO"/>
        <property name="taxonIndexDAO" ref="taxonIndexDAO"/>
        <property name="specimenDAO" ref="specimenDAO"/>
    </bean>
    <!--bean id="speciesManager" class="org.inbio.modeling.core.manager.impl.SpeciesManagerImpl">
        <property name="taxonInfoIndexDAO" ref="taxonInfoIndexDAO"/>
        <property name="taxonIndexDAO" ref="taxonIndexDAO"/>
    </bean-->
    <!--bean id="configManager" class="org.inbio.modeling.core.manager.impl.ConfigManagerImpl">
        <property name="dwcPropertyHolderDAO" ref="dwcPropertyHolderDAO"/>
        <property name="dwcDataAccessDAO" ref="dwcDataAccessDAO"/>
        <property name="plicPropertyHolderDAO" ref="plicPropertyHolderDAO"/>
        <property name="plicDataAccessDAO" ref="plicDataAccessDAO"/>
        <property name="layerPropertyHolderDAO" ref="layerPropertyHolderDAO"/>
        <property name="layerDataAccessDAO" ref="layerDataAccessDAO"/>
        <property name="selectedLayerDAO" ref="selectedLayerDAO"/>
        <property name="indiPropertyHolderDAO" ref="indiPropertyHolderDAO"/>
        <property name="indiDataAccessDAO" ref="indiDataAccessDAO"/>
        <property name="tindiPropertyHolderDAO" ref="tindiPropertyHolderDAO"/>
        <property name="tindiDataAccessDAO" ref="tindiDataAccessDAO"/>
        <property name="indicatorDAO" ref="indicatorDAO"/>
        <property name="specimenDAO" ref="specimenDAO"/>
        <property name="taxonIndicatorDAO" ref="taxonIndicatorDAO"/>
        <property name="taxonIndexDAO" ref="taxonIndexDAO"/>
        <property name="taxonInfoIndexDAO" ref="taxonInfoIndexDAO"/>
    </bean-->
</beans>