<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="baseDAO" class="org.inbio.modeling.core.dao.impl.BaseDAOImpl">
        <property name="dataSource" ref="dataSource" />
	</bean>

	<!-- DAO's -->
    <bean id="layerDAO" class="org.inbio.modeling.core.dao.impl.LayerDAOImpl" parent="baseDAO" />

    <bean id="grassDAO" class="org.inbio.modeling.core.dao.impl.GrassDAOImpl" parent="baseDAO" >
		<property name="scriptHome" value="${scripts.home}" />
		<property name="layerHome" value="${layers.home}" />
		<property name="configuration" value="${scripts.configuration}" />
		<property name="importPNG" value="${scripts.import}" />
		<property name="rasterization" value="${scripts.rasterization}" />
		<property name="mapAlgebra" value="${scripts.mapAlgebra}" />
		<property name="exportPNG" value="${scripts.exportPNG}" />
		<property name="getMinMax" value="${scripts.getMinMax}" />
		<property name="vectorialReclasification" value="${scripts.vectorialReclasification}" />
		<property name="retrieveCategories" value="${scripts.retrieveCategories}" />
		<property name="retrieveColumns" value="${scripts.retrieveColumns}" />
		<property name="rasterReclasification" value="${scripts.rasterReclasification}" />
		<property name="asignResolution" value="${scripts.asignResolution}" />
		<property name="deleteGrassLocation" value="${scripts.deleteGrassLocation}" />
		<property name="exportSHP" value="${scripts.exportSHP}" />
		<property name="retrieveType" value="${scripts.retrieveType}" />
	</bean>

	<!-- DTOFactories's -->
    <bean id="layerDTOFactory" class="org.inbio.modeling.core.dto.LayerDTOFactory" />

</beans>
